/* Typography */

.mdx h1 {
  @apply font-extrabold text-4xl;
}
.mdx h2 {
  @apply font-extrabold text-2xl;
}
.mdx h3 {
  @apply font-bold text-lg text-text-subtle;
}

.mdx h4 {
  @apply font-semibold;
}

.mdx p, .mdx li {
  @apply text-text-subtle leading-7;
}

/* Spacing */

.mdx pre { @apply mt-0 }
.mdx > h1 {
  @apply mt-16 sm:mt-24 mb-8;
}
.mdx > h2 {
  @apply mt-12 sm:mt-20 mb-7;
}
.mdx > h3 {
  @apply mt-10 sm:mt-16 mb-5;
}
.mdx > h4 {
  @apply mt-8 sm:mt-12 mb-4;
}

.mdx > p {
  @apply mt-5;
}

.mdx > a {
  @apply mt-8;
}

.mdx > img {
  @apply mt-6;
}

.mdx > ul {
  @apply mt-5 ml-2 flex flex-col gap-1;
}

.mdx > ul > li {
  @apply ml-6 list-disc;
  padding-left: 0; /* Optional: remove padding if you don't want indentation */
}

/*.mdx > ul > li::before {*/
  /*content: '•'; [> Unicode character for a bullet <]*/
    /*unicode-bidi: isolate;*/
    /*font-variant-numeric: tabular-nums;*/
    /*text-transform: none;*/
    /*text-indent: 0px !important;*/
    /*text-align: start !important;*/
    /*text-align-last: start !important;*/
  /*line-height: 0; [> Adjust line height to align the bullet vertically <]*/
  /*vertical-align: middle; [> Aligns the bullet vertically in the middle <]*/
  /*margin-right: 8px; [> Space between the bullet and the text <]*/
  /*display: inline-block; [> Ensures the bullet is in line with the text <]*/
/*}*/

/* Icon link on titles */

/* Min-width = sm + 40px) */
@media only screen and (min-width: 680px) {
  .mdx .icon.icon-link::after {
    transition: all ease-in-out 0.1s;
    content: '#';
    padding-right: 4px;
    opacity: 0;
    transform: translateX(-70%);
    position: absolute;
  }

  .mdx > h1:hover .icon.icon-link::after,
  .mdx > h2:hover .icon.icon-link::after,
  .mdx > h3:hover .icon.icon-link::after,
  .mdx > h4:hover .icon.icon-link::after,
  .mdx > h5:hover .icon.icon-link::after,
  .mdx > h6:hover .icon.icon-link::after {
    opacity: 1;
    transform: translateX(-100%);
  }
}
