/* Satoshi Font Family */

@font-face {
  font-family: 'Satoshi';
  src: url('./satoshi/Satoshi-Variable.woff2') format('woff2'),
       url('./satoshi/Satoshi-Variable.woff') format('woff'),
       url('./satoshi/Satoshi-Variable.ttf') format('truetype');
  font-weight: 400 600;
  font-display: swap;
  font-feature-settings: "ss02" 1, "ss03" 1, "ss04" 1;
  font-style: normal;
}
