@font-face {
  font-family: 'Jersey';
  font-style: normal;
  src:
    url('/fonts/Jersey25-Regular.woff') format('woff'),
    url('/fonts/Jersey25-Regular.woff2') format('woff2');
  font-display: swap;
}
