.modal-animation.modal-showing::backdrop {
  @apply bg-black/60;
}

.modal-animation.modal-showing,
.modal-animation.modal-closing {
  @apply duration-200;
}

.modal-animation.modal-showing {
  @apply animate-in fade-in-0 zoom-in-95 slide-in-from-top-[6vh];
}

.modal-animation.modal-showing::backdrop {
  @apply fade-in-0 animate-in;
}

.modal-animation.modal-closing {
  @apply animate-out fade-out-0 zoom-out-95 slide-out-to-top-[6vh];
}

.modal-animation.modal-closing::backdrop {
  @apply fade-out-0 animate-out;
}
