@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  text-rendering: optimizelegibility
}

* { scroll-margin-top: 40px; }

*,
::before,
::after {
  border-color: var(--color-border-subtler);
}

@layer components {
  .light-theme {
    /* Background */
    --color-bg-subtle: #f2f2f2;
    --color-bg-default: #fff;
    --color-bg-contrast: #2a2a2a;

    /* Text */
    --color-text-default: #111827;
    --color-text-subtle: #374151;
    --color-text-subtler: #7E848C;
    --color-text-disabled: #c0c0c0;
    --color-text-contrast: #ffffff;
    --color-text-link: #174291;

    /* Border */
    --color-border-default: #181818;
    --color-border-subtle: #cacaca;
    --color-border-subtler: #ebebeb;

    /* Other */
    --color-focused: #578DFF;
    --color-focused-subtle: #DEE8FD;
    --color-error: #DC2626;
    --color-success: #00A064;
  }

  .mob-h-screen {
    height: 100vh;
    height: 100svh;
  }

  .bg-subtle {
    @apply bg-bg-subtle;
  }

  .bg-default {
    @apply bg-bg-default;
  }

  .bg-contrast {
    @apply bg-bg-contrast;
  }

  .text-subtle {
    @apply text-text-subtle;
  }

  .text-subtler {
    @apply text-text-subtler;
  }

  .text-default {
    @apply text-text-default;
  }

  .text-link {
    @apply text-text-link;
  }


  .text-contrast {
    @apply text-text-contrast;
  }

  .text-disabled {
    @apply text-text-disabled;
  }

  .border-default {
    @apply border border-border-default;
  }

  .border-subtle {
    @apply border border-border-subtle;
  }

  .border-subtler {
    @apply border border-border-subtler;
  }

  .field-focused {
    @apply outline outline-focused outline-1 shadow-sm ring-focused-subtle ring ring-3;
  }

  body {
    @apply light-theme;
  }

  .custom-container {
    @apply w-full max-w-[640px] px-4;
  }

  .custom-container .grow-out-20 {
    width: 768px;
    transform: translateX(-64px);
  }

  .custom-container .grow-out-40 {
    width: 896px;
    transform: translateX(-128px);
  }
}
