@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  text-rendering: optimizelegibility;
}

* {
  scroll-margin-top: 40px;
}

*,
::before,
::after {
  border-color: var(--color-border-subtler);
}

@layer components {
  .light-theme {
    /* Background */
    --color-bg-subtle: #f3f5f7;
    --color-bg-default: #fff;
    --color-bg-subtler: #f3f5f7;
    --color-bg-stronger: #0B0E14;
    --color-bg-contrast: #2a2a2a;

    /* Text */
    --color-text-default: #0f1012;
    --color-text-subtle: #282a30;
    --color-text-subtler: #7e848c;
    --color-text-disabled: #c0c0c0;
    --color-text-contrast: #ffffff;
    --color-text-link: #174291;

    /* Border */
    --color-border-default: #181818;
    --color-border-subtle: #cacaca;
    --color-border-subtler: #ebebeb;

    /* Other */
    --color-focused: rgb(87, 141, 255);
    --color-focused-subtle: rgba(87, 141, 255, 0.2);
    --color-error: #dc2626;
    --color-success: #00a064;
  }

  .dark-theme {
    /* Background */
    --color-bg-subtle: #20212e;
    --color-bg-default: #191a23;
    --color-bg-subtler: #2a2b3b;
    --color-bg-stronger: #0B0E14;
    --color-bg-contrast: #2a2a2a;

    /* Text */
    --color-text-default: #eeeffc;
    --color-text-subtle: #e4e5f0;
    --color-text-subtler: #cdced9;

    --color-text-disabled: #c3c4c9;
    --color-text-contrast: #ffffff;
    --color-text-link: #8EB6FF;

    /* Border */
    --color-border-default: #36374a;
    --color-border-subtle: #36374a;
    --color-border-subtler: #36374a;

    /* Other */
    --color-focused: rgb(87, 141, 255);
    --color-focused-subtle: rgba(87, 141, 255, 0.25);

    --color-error: #dc2626;
    --color-success: #00a064;
  }

  body[data-color-mode='light'] {
    @apply light-theme;
  }

  body[data-color-mode='dark'] {
    @apply dark-theme;
  }

  body {
    @apply text-default bg-default border-0 border-default;
  }

  body[data-color-mode='dark'] dialog {
    @apply bg-subtle text-subtle;
  }

  body[data-color-mode='light'] dialog {
    @apply bg-default text-default;
  }

  body[data-color-mode='light'] .field {
    @apply bg-default;
  }

  body[data-color-mode='dark'] .field {
    @apply bg-transparent;
  }

  .mob-h-screen {
    height: 100vh;
    height: 100svh;
  }

  .bg-subtle {
    @apply bg-bg-subtle;
  }

  .bg-default {
    @apply bg-bg-default;
  }

  .bg-subtler {
    @apply bg-bg-subtler;
  }

  .bg-stronger {
    @apply bg-bg-stronger;
  }

  .bg-contrast {
    @apply bg-bg-contrast;
  }

  .text-subtle {
    @apply text-text-subtle;
  }

  .text-subtler {
    @apply text-text-subtler;
  }

  .text-default {
    @apply text-text-default;
  }

  .text-link {
    @apply text-text-link;
  }

  .text-contrast {
    @apply text-text-contrast;
  }

  .text-disabled {
    @apply text-text-disabled;
  }

  .border-default {
    @apply border border-border-default;
  }

  .border-subtle {
    @apply border border-border-subtle;
  }

  .border-subtler {
    @apply border border-border-subtler;
  }

  .field-focused {
    @apply outline outline-focused outline-1 shadow-sm ring-focused-subtle ring ring-3;
  }

  .custom-container {
    @apply w-full max-w-[640px] px-4;
  }

  .custom-container .grow-out-20 {
    width: 768px;
    transform: translateX(-64px);
  }

  .custom-container .grow-out-40 {
    width: 896px;
    transform: translateX(-128px);
  }
}

/* Applying focus-visible styles globally */
*:focus-visible {
  @apply field-focused; /* Example ring style */
  /* Add other styles as needed */
}
